{% extends 'Forgotten/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1">Nutzername</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                   placeholder="Nutzername eingeben">
            <small id="emailHelp" class="form-text text-muted">Wir werden Ihre E-Mail niemals an Dritte weitergeben.
            </small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Passwort</label>
            <input type="password" class="form-control" name="password" placeholder="Passwort">
        </div>
        <button type="submit" class="btn btn-primary">Eingabe bestätigen</button>
    </form>


{% endblock content %}