{% load bootstrap5 %}
<!DOCTYPE html>
{% load static %}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel=icon href={% static '/icons/favicon.ico' %}>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>


<body>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% block div %}
{% endblock %}
</div>

<h1 class="text-center mb-5 bg-secondary text-white">{{ page_title }}</h1>

{% block content %}
    Dummy aus basis-Template
{% endblock %}

{% block footer %}


    {# Impressum und Datenschutzbestimmungen #}

{% endblock %}
</body>
</html>