{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<!-- 
Dies ist die Base HTML Datei, alle weiteren Dateien werden von ihr erben
ALs erstes werden die wichtigen APIS, Skripte und JS Dateien geladen
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.21/web.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css" type="text/css"/>
<link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">
<script src="{% static 'js/controller.js' %}"></script>
<link rel="stylesheet" href="{% static 'styling/style.css' %}"/>
<link rel="stylesheet" href="{% static 'styling/style.css' %}">

{% bootstrap_messages %}

<html lang="en">
<head>
    <!-- Head -->
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel=icon href={% static '/icons/favicon.ico' %}>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<!--Navigationsleiste mit einzelnen Elementen -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% else %}
        <a class="navbar-brand" href="/login">Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profil</a>
                    <a class="dropdown-item" href="/places">Meine Orte</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Einstellungen</a>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="/map">Map</a>
                </li>
             {% endif %}
        </ul>
    </div>


</nav>
<h1 class="text-center mb-5 bg-secondary text-white background">{{ page_title }}</h1>

{% block content %}

    <!-- Versteckter Map Container notwendig für das spätere Laden der Map -->
    <div id="mapContainer" style="display: none;">
        <div id="map"></div>
    </div>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'styling/style.css' %}">

    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
    {% endfor %}

{% endblock %}

{% block footer %}


    {# Impressum und Datenschutzbestimmungen #}

{% endblock %}
</body>
</html>