{% extends 'Forgotten/base.html' %}
{% load bootstrap5 %}



{% block content %}
    <form action="" enctype="multipart/form-data" method="POST" class="form-row">
        {% csrf_token %}
        {% bootstrap_form form %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'place_list' %}" class="btn btn-secondary btn-lg">Zurück</a>
                <button type="submit" class="btn btn-primary btn-lg float-end">Bestätigen</button>
{#                <a href="{% url 'place-delete' pk %}" class="btn btn-danger btn-lg">Löschen</a>#}
                <button type="submit" class="btn btn-danger btn-lg float-end">Löschen</button>
            </li>
        </ul>

    </form>
{% endblock %}