{% extends 'Forgotten/base.html' %}
{% load bootstrap5 %}

<!--HTML File für das Anzeigen der Detaillansicht der Orte-->
{% block content %}
    <form action="" enctype="multipart/form-data" method="POST" class="form-row">
    {% bootstrap_form form %}
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'place_list' %}" class="btn btn-secondary btn-lg">Zurück</a>
            <button type="submit" class="btn btn-primary btn-lg float-end float-end">Bestätigen</button>
        </li>
    </ul>
{% endblock %}
</form>
