{% extends 'Forgotten/base.html' %}

{% block content %}
    {% for place in Places %}
        <ul class="list-group ms-5">

            <h2 class="bg-secondary me-5 text-white text-center">{{ place.name }}</h2>
            <li class="list-group-item me-5 reverse"><p> Geschichte: </p>{{ place.story_field }}</li>
            <li class="list-group-item me-5 bg-light text-dark"><p> Bilder: </p><img
                    src="{{ place.upload_picture.url }}" width="500px"
                    alt="img"></li>
            <li class="list-group-item me-5"><p> Location: </p>{{ place.location_map }}</li>
            <li class="list-group-item me-5 bg-light text-dark">
                <a href="{% url 'map' %}" class="btn btn-success float-end btn-sm">Auf Karte anzeigen</a>
            </li>
            <li class="list-group-item me-5 bg-light text-dark">
                <a href="{% url 'edit_place' pk=place.id %}" class="btn btn-primary">Bearbeiten</a>
                <a href="{% url 'place-delete' place.pk %}"><i class="btn btn-danger float-end">Löschen</i> </a>

            </li>

        </ul>
        
        
        <!-- Hiding elements for javascript and getting markers on the map -->
                <div class="place-item" 
                    data-name="{{ place.name }}" 
                    data-lon="{{ place.longitude }}" 
                    data-lat="{{ place.latitude }}" 
                    style="display:none;">
                </div>
            {% endfor %}
        <div class="list-group text-center ms-5 me-5">
        <a class="btn btn-primary" href="{% url 'add_places' %}" class="btn btn-primary">Ort hinzufügen </a>
    </div>
{% endblock %}