{% extends 'Forgotten/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <form action="" enctype="multipart/form-data" method="POST" class="form-row">
    {% bootstrap_form form %}
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Einloggen</a>
            <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Account erstellen</a>
        </li>
    </ul>
{% endblock %}
</form>