#show_teaser_pc {
    background-image: url(../immages/DSC_5979.JPG);
    height: 100%;
    max-width: 100%;
    background-size: cover;
    padding-bottom: 500px;
    padding-top: 500px;
}

/*#show_teaser_mobile {*/
/*    background-image: url(../immages/DSC_6016.JPG);*/
/*    height: auto;*/
/*    max-width: 100%;*/
/*    background-size: cover;*/
/*    padding-bottom: 500px;*/
/*    padding-top: 500px;*/
/*    visibility: collapse;*/

/*}*/

/*@media only screen and (max-width:414px){*/
/*    #show_teaser_pc{*/
/*        visibility: collapse;*/
/*    }*/
/*    #show_teaser_mobile{*/
/*        visibility: visible;*/
/*    }*/
/*}


img{
        width: 100%;
    }

.fieldBox {
    max-width: 100%;
}

*/


#menu {
    position: absolute;
    background: lightgrey;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#map {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: calc(100% - 80px);
}

.navbar {
    position: relative;
    z-index: 1000;
}

body {
    margin: 0;
    padding: 0;
}
